# macOS files
.DS_Store

# IDE configs
.idea/
*.iml

# venv
venv/

# Python cache
__pycache__/
*.pyc

simple_poc/*.wav
simple_poc/*.mp3
simple_poc/*.mp4

#backend audio and trancription files
backend/debug_audio
backend/prev_audio
backend/transcriptions

.terraform